[submodule "third_party/cusplibrary"]
	path = third_party/cusplibrary
	url = https://github.com/Fangzhou-Ai/cusplibrary.git
[submodule "third_party/cxxopts"]
	path = third_party/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "third_party/complex_bessel"]
	path = third_party/complex_bessel
	url = https://github.com/joeydumont/complex_bessel.git
